<div class="dashboard">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo"><i class="fas fa-chart-line"></i> Admin</h2>
    <ul class="nav">
      <li><a href="#"><i class="fas fa-home"></i><span>Home</span></a></li>
      <!-- <li><a href="#"><i class="fas fa-user"></i><span>Profile</span></a></li> -->
      <li><a href="#"><i class="fas fa-cog"></i><span>Results</span></a></li>
      <li><a href="#"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a></li>
    </ul>
  </aside>

  <!-- Main content -->
  <div class="main">
    <!-- <header class="header">
      <h1>Admin Page</h1>
      <div class="user-info">
        <i class="fas fa-bell"></i>
        <i class="fas fa-user-circle"></i>
      </div>
    </header> -->

    <div class="container">
      <div class="cards-wrapper">
        <div class="exam-card">
          <h5>Frontend Basics</h5>
          <p>Test about HTML, CSS, JS</p>
          <div class="buttons">
            <button class="btn-update">Update</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        <div class="exam-card">
          <h5>JavaScript Fundamentals</h5>
          <p>Covers basic concepts of JavaScript</p>
          <div class="buttons">
            <button class="btn-update">Update</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        <div class="exam-card">
          <h5>TypeScript Essentials</h5>
          <p>Test your TypeScript skills</p>
          <div class="buttons">
            <button class="btn-update">Update</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        <div class="exam-card">
          <h5>Angular Core</h5>
          <p>Covers core concepts of Angular framework</p>
          <div class="buttons">
            <button class="btn-update">Update</button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
